spring:
  datasource:
    url: jdbc:h2:mem:prography;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  current-cohort:
    generation: 11

springdoc:
  swagger-ui:
    path: /swagger-ui.html
